/*
credits for the cute cursors
<a target="_blank" href="https://icons8.com/icon/121198/cat-footprint">Cat Footprint</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/121441/cat-footprint">Cat Footprint</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
*/

* {
    cursor: url('images/catpawgray.png') 10 5, auto;
}

a {
    cursor: url('images/catpawblue.png') 10 5, auto;
}

.link:any-link {
    color: #f15050;
}

.max-h-91 {
    max-height: 91vh;
    overflow: hidden;
}

.cat {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 91vh;
}

.cat0 {
    background-image: url('https://images.unsplash.com/photo-1533738363-b7f9aef128ce?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.cat1 {
    background-image: url('https://images.unsplash.com/photo-1519052537078-e6302a4968d4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.cat2 {
    background-image: url('https://images.unsplash.com/photo-1494256997604-768d1f608cac?q=80&w=1529&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.absolute {
    position: absolute;
}

#title-cattos {
    z-index: 999999;
    position: absolute;
    font-size: 10em;
    color: #e5e5e5;
    text-shadow: 1px 1px 50px #f15050;
    font-family: 'Montserrat', Verdana;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameCanvas {
    background-color: #aaf;
    margin: 0;
    padding: 0;
}

#score {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    width: 25em;
}

.kittens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #score {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25em;
    }

    #title-cattos {
        z-index: 999999;
        position: absolute;
        font-size: 4em;
        color: #e5e5e5;
        text-shadow: 1px 1px 50px #f15050;
        font-family: 'Montserrat', Verdana;
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
