@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999;
  opacity: .1;
}

@keyframes noise-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500px 500px;
  }
}

.noise-animate {
  animation: noise-animation 5s ease-in-out infinite;
}

@keyframes bg-breathing {
  0% {
    background-color: #eee;
  }

  80% {
    background-color: #ddd;
  }

  100% {
    background-color: #eee;
  }
}

.bg-breathing {
  animation: bg-breathing 10s ease-out infinite;
}

.project-button:hover {
  background-color: #fff;
  border-radius: 20px;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 200ms;
  filter: drop-shadow(0 10px 6px #0002);
}